USE [TaskManager]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 3/29/2020 9:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedTime] [datetime] NULL,
	[Description] [nvarchar](200) NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK__Group__149AF36A23595D1A] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/29/2020 9:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 3/29/2020 9:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 3/29/2020 9:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[SourceId] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Report] [nvarchar](max) NULL,
	[ManagerReview] [nvarchar](max) NULL,
	[Mark] [int] NULL,
	[ReviewedTime] [datetime] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[StatusId] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[Creator] [nvarchar](50) NOT NULL,
	[HandlerId] [int] NULL,
	[ConfirmationImage] [nvarchar](max) NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK__Task__7C6949B1DE115875] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/29/2020 9:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[RoleId] [int] NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[GroupId] [int] NULL,
	[Phone] [nvarchar](15) NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([GroupId], [Name], [CreatedTime], [Description], [ModifyTime]) VALUES (4, N'VGroup', CAST(N'2020-03-03T00:00:00.000' AS DateTime), N'Group for dev', NULL)
INSERT [dbo].[Group] ([GroupId], [Name], [CreatedTime], [Description], [ModifyTime]) VALUES (6, N'C2C', CAST(N'2020-03-22T20:03:07.000' AS DateTime), N'haih', NULL)
INSERT [dbo].[Group] ([GroupId], [Name], [CreatedTime], [Description], [ModifyTime]) VALUES (7, N'B2B', CAST(N'2020-03-22T20:03:46.000' AS DateTime), N'haih', NULL)
SET IDENTITY_INSERT [dbo].[Group] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Manager')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (2, N'Processing')
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (3, N'Finished')
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (5, N'Rejected')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([TaskId], [Name], [SourceId], [Description], [Report], [ManagerReview], [Mark], [ReviewedTime], [StartTime], [EndTime], [StatusId], [CreatedTime], [Creator], [HandlerId], [ConfirmationImage], [ModifyTime]) VALUES (2, N'Seminar', NULL, N'Do seminar', N'12312w', N'', NULL, CAST(N'2020-03-22T01:17:46.000' AS DateTime), CAST(N'2020-03-15T00:00:00.000' AS DateTime), CAST(N'2020-03-21T00:00:00.000' AS DateTime), 6, CAST(N'2020-03-12T00:00:00.000' AS DateTime), N'Baohg', NULL, NULL, NULL)
INSERT [dbo].[Task] ([TaskId], [Name], [SourceId], [Description], [Report], [ManagerReview], [Mark], [ReviewedTime], [StartTime], [EndTime], [StatusId], [CreatedTime], [Creator], [HandlerId], [ConfirmationImage], [ModifyTime]) VALUES (27, N'Task tử tế', NULL, N'Tử tế', N'', N'', NULL, CAST(N'2020-03-23T10:36:02.000' AS DateTime), CAST(N'2020-03-01T00:00:00.000' AS DateTime), CAST(N'2020-03-03T00:00:00.000' AS DateTime), 6, CAST(N'2020-03-19T00:00:00.000' AS DateTime), N'Eden', NULL, NULL, CAST(N'2020-03-23T10:36:02.017' AS DateTime))
INSERT [dbo].[Task] ([TaskId], [Name], [SourceId], [Description], [Report], [ManagerReview], [Mark], [ReviewedTime], [StartTime], [EndTime], [StatusId], [CreatedTime], [Creator], [HandlerId], [ConfirmationImage], [ModifyTime]) VALUES (40, N'Học Online', NULL, N'Online learning', N'Nah', N'Ok 5', 10, CAST(N'2020-03-25T01:53:13.000' AS DateTime), CAST(N'2020-03-22T00:00:00.000' AS DateTime), CAST(N'2020-03-23T00:00:00.000' AS DateTime), 3, CAST(N'2020-03-22T00:00:00.000' AS DateTime), N'Gia Bao', 15, N'eden-402020-03-23.jpg', CAST(N'2020-03-25T01:53:13.103' AS DateTime))
SET IDENTITY_INSERT [dbo].[Task] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [PasswordHash], [RoleId], [Fullname], [Email], [GroupId], [Phone], [ModifyTime]) VALUES (15, N'eden', N'1', 1, N'Tuan', N'phamtuan@gmail.com', NULL, N'0901547767', NULL)
INSERT [dbo].[User] ([UserId], [Username], [PasswordHash], [RoleId], [Fullname], [Email], [GroupId], [Phone], [ModifyTime]) VALUES (18, N'tnt', N'1', 2, N'Tran Nam Trung', N'trungtran@gmail.com', 6, N'0901547767', CAST(N'2020-03-23T03:08:31.170' AS DateTime))
INSERT [dbo].[User] ([UserId], [Username], [PasswordHash], [RoleId], [Fullname], [Email], [GroupId], [Phone], [ModifyTime]) VALUES (19, N'bhg', N'1', 3, N'Bao Hoang', N'ggg@gmail.com', 4, N'0901', CAST(N'2020-03-23T22:30:45.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Status]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Task] FOREIGN KEY([SourceId])
REFERENCES [dbo].[Task] ([TaskId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Task]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_User] FOREIGN KEY([HandlerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([GroupId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Group]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
